@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
  font-size: 2.2em;
  height: 100%;
  background-color: rgba(241, 196, 15, 1);
}

.form-control {
  height: 60px;
  font-size: 0.8em;
  line-height: 1.5;
}

.btn {
  font-size: 0.8em;
  line-height: 1.5;
  border: 1px solid transparent;
  border-radius: 5px;
}

h1 {
  text-align: center;
  color: #fff;
}

.container {
  margin-bottom: 1em;
  margin-top: 2em;
  width: 50%;
}

.panel-title {
  font-size: 0.7em;
}
a.btn {
margin-bottom: 1em;
margin-top: 1em; 
}